/* ==UserStyle==
@name           www.reddit.com - November 2024
@namespace      github.com/openstyles/stylus
@version        2.1.2
@description    Black
@author         Vitaly Zdanevich
==/UserStyle== */

@-moz-document url-prefix("https://www.reddit.com") {

	:root * {
		--shreddit-content-background: #000;
		--color-neutral-background: #000 !important;
		--page-y-padding: 0;
	}

	shreddit-app {
		background: #000;
	}

	reddit-header-large {
		opacity: 0;
	}
	reddit-header-large:hover {
		opacity: 1;
	}

	award-button {
		display: none !important;
	}

	/* Fork from https://userstyles.world/style/14881/new-reddit-full-width
	 * because broken on https://www.reddit.com/r/FirefoxCSS/wiki/index/tutorials/#wiki_setup
	 * */

	.m\:grid-cols-\[repeat\(10\2c_1fr\)_repeat\(4\2cminmax\(61px\2c_1fr\)\)\] {
		grid-template-columns: none;
	}

	.xl\:max-w-\[1524px\],
	.xl\:max-w-container-xl {
		max-width: 100% !important;
	}

	#left-sidebar-container,
	#right-sidebar-container {
		display: none !important;
		width: 0px;
		visibility: hidden;
		overflow: hidden;
	}

	@media (min-width: 1200px) {
		.grid-container,
		.theme-rpl .grid .grid-cols-1 {
			grid-template-columns: 0px 1fr;
		}
	}

	.grid-container {
		grid-template-columns: auto !important;
	}

	.subgrid-container,
	[class = "m:col-start-2"] .box-border .flex .flex-col .order-2 {
		width: 100vw;
		max-width: 100vw !important;
	}

	main {
		max-width: 100vw !important;
	}

}
